@charset "windows-1251";
/* CSS Document */

h1{
    color:blue;
    text-align:  center;
}

a:link{
    color:blue
}

b{
    color:blue
}

.button{
    color:blue
}

hr{
    color: red;
 }

 table{
    border: 1px
    solid;
 }

 th{
    border: 1px
    solid;
    background: pink;
    align:  center;
 }

 td{
    border: 1px
    solid;
    text-align:  center;
 }

div{
text-align: center;
}

